.blog {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    margin-top: 2rem;
    padding: 1rem 0;

    text-align: center;
    @include desktop {
      height: 80vmin;
    }
  }
  &__button-readmore {
    border-radius: 8px;
    background: black;
    color: white;
    margin: 1rem 0;
  }
  &__button-readmore:hover {
    transform: scale(1.25);
  }

  &__button-goback {
    font-family: "bold";
    border-radius: 8px;
    background: $mainyellow;
    color: black;
    border: 1px solid white;
  }
  &__button-goback:hover {
    transform: scale(1.25);
  }
  &__description {
    width: 85%;
  }
  &__small {
    font-size: smaller;
    background: $mainyellow;
    border-radius: 0.5rem;
    color: black;
    padding: 0.25rem;
  }
  &__post-box {
    background: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  &__post-title {
    color: black;
    padding: 0 0.5rem;
  }
}
