.game {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    align-content: center;
  }
  &__board {
    display: inline-flex;
    flex-wrap: wrap;
    width: 249px;
    background: black;
    border-radius: 6px;
  }
  &__box {
    font-size: 3rem;
    color: yellow;
    width: 81px;
    height: 80px;
    border: 4px solid blue;
    margin: 1px;
    display: inline-block;
    line-height: 80px;
    border-radius: 6px;
  }
  &__box:active {
    background: yellow;
  }
}
