* {
  font-family: "Main";
}
.background__hero {
  width: 100%;
  height: 80.25vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &-about {
    height: 100%;
  }
}
