.header {
  color: $mainyellow;
  background: $maingrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__div {
    width: 100%;
  }
  &__linebreak {
    background: $mainyellow;
    height: 2px;
    margin: 0;

    &-black {
      background: $maingrey;
      height: 4px;
      margin: 0;
    }
  }
}
