.hero {
  &__image {
    &-div {
      height: 100%;
      padding-top: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-tagline {
      position: relative;
      top: -8rem;
      color: black;
    }
  }
}
