.herocontact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  color: $mainyellow;
  background: black;
  &__icon {
    &--home {
      margin: 0.25rem 0;
      width: 28px;
      height: 28px;
      color: $mainyellow;
    }
    &--github {
      margin: 0.25rem 0;
      width: 28px;
      height: 28px;
      color: $mainyellow;
    }
    &--linkedin {
      margin: 0.25rem 0;
      width: 28px;
      height: 28px;
      color: $mainyellow;
    }
    &--email {
      margin: 0;
      width: 28px;
      height: 28px;
      color: $mainyellow;
      @include desktop {
        margin-top: 4px;
        height: 28px;
        width: 28px;
      }
    }
  }
  &__icon:hover {
    transform: scale(1.25);
  }
  &__title {
    font-size: 0.75rem;
    margin: 0;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  &__link-title {
    font-size: 0.675rem;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    height: 25px;
  }
  &__section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    @include desktop {
      height: 95px;
    }
  }
  &__line {
    width: 100%;
    height: 2.5px;
    background: $mainyellow;
    margin: 0;
    &-black {
      width: 100%;
      height: 6px;
      background: black;
      margin: 0;
    }
  }
  &__link {
    margin: 0;
    padding: 0;
    height: 29px;
  }
}
