.menu {
  height: 40px;
  &__navlist {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  &__navlist-item {
    padding-left: 10px;
    text-decoration: none;
    color: black;
  }
}
