* {
  font-family: "Main";
}

.background__hero {
  width: 100%;
  height: 97.5vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background__hero-about {
  height: 100%;
}

.header {
  color: black;
  background: #fcdc06;
}

.menu {
  height: 2.5vh;
}

.menu__navlist {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__navlist-item {
  font-size: 0.75rem;
  padding-left: 5px;
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Main";
  src: url("../fonts/Kanit-Regular.woff2") format("woff2"), url("../fonts/Kanit-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/Kanit-Bold.woff2") format("woff2"), url("../fonts/Kanit-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.game__container {
  margin-left: 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.game__board {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 249px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.game__box {
  font-size: 3rem;
  color: black;
  width: 81px;
  height: 80px;
  border: 4px solid black;
  margin: 1px;
  display: inline-block;
  line-height: 80px;
  border-radius: 6px;
  background: #fcdc06;
}

.game__button {
  font-family: "bold";
  background: black;
  margin: 8px;
  padding: 6px 12px;
  color: #fcdc06;
  border: none;
  border-radius: 4px;
}

.game__button-div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.game__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__form-label {
  font-family: "bold";
  border: 4px solid black;
  color: black;
  background: #fcdc06;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}

.game__form-input {
  margin-left: 4px;
}

.game__form-title {
  font-size: 1.25rem;
}

.info__bio {
  color: white;
  margin: 0 5%;
  max-width: 1000px;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__title {
  color: white;
  margin-top: 1rem;
}

.hero__image {
  margin: 0 auto;
}

.resume__image {
  margin: 0 10%;
  height: 100%;
}

.resume__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5%;
}

.resume__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__container {
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  color: white;
  margin-top: 2rem;
  padding: 1rem 0;
  border: 14px solid #fcdc06;
  border-radius: 1.5rem;
  width: 70%;
  margin-left: 15%;
  max-width: 1440px;
  text-align: center;
}

.blog__button-readmore {
  border-radius: 8px;
  background: black;
  color: white;
  margin: 1rem 0;
}

.blog__button-goback {
  border-radius: 8px;
  background: white;
  color: black;
  border: 1px solid white;
}

.blog__description {
  width: 60%;
}

.blog__small {
  font-size: smaller;
  background: white;
  border-radius: 0.5rem;
  color: black;
  padding: 0.25rem;
}

.blog__post-box {
  background: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.blog__post-title {
  color: black;
  padding: 0 0.5rem;
}
/*# sourceMappingURL=main.css.map */